@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --dark: #000000;
  --white: #FFFFFF;
  --grey: #D9D9D9;
}

h1:not(.base-style),
h2:not(.base-style),
h3:not(.base-style),
h4:not(.base-style),
h5:not(.base-style),
h6:not(.base-style) {
  background: linear-gradient(270deg, #EEE 0%, rgba(238, 238, 238, 0.00) 265%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
}

.animate-mirror {
  animation: mirror 2s infinite;
  -webkit-animation: mirror 2s 1;
}

.animate-mirror:nth-child(2) {
  animation-delay: 500ms;
  -webkit-text-fill-color: green;
}

.animate-mirror:nth-child(1) {
  -webkit-text-fill-color: pink;
}

.header {
  background: rgba(7, 7, 7, 0.45);
}

.animate-mirror:nth-child(3) {
  animation-delay: 1s;
  -webkit-text-fill-color: orange;
}

@keyframes mirror {
  0% {
    transform: scaleX(1);
  }
  45% {
    transform: scaleX(-1);
  }
  55% {
    transform: scaleX(-1);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}